<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý chi nhánh
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý chi nhánh</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <form @submit="submitForm">
          <div class="col-md-8">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Thêm mới & Cập nhật</h3>
              </div>
              <div class="box-body">
                <input-group
                  class="col-md-6"
                  :label="'Tên chi nhánh (*)'"
                  :error="$v.formData.name.$error" 
                  :errormsg="''"
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  @change="genSlug"
                  />
                <div class="clear-fix"></div>
                <input-group
                  :label="'Slug (*)'"
                  class="col-md-6"
                  :error="$v.formData.slug.$error" 
                  :errormsg="''"
                  v-model="formData.slug"
                  @blur="$v.formData.slug.$touch()"
                  @change="genSlug"
                  />
                <div class="clear-fix"></div>
                <div class="form-group col-md-6">
                  <label for="">Shop</label>
                  <select v-model="formData.shopId" class="form-control">
                    <option value="-1">Chọn shop</option>
                    <option v-if="listShops.length" v-for="item in listShops" :key="item.id" :value="item.id">{{item.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Khu vực hoạt động</label>
                  <select v-model="formData.provinceId" class="form-control">
                    <option value="48">Đà Nẵng</option>
                    <option value="79">Hồ Chí Minh</option>
                    <option value="01">Hà Nội</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Địa chỉ</label>
                  <input placeholder="Địa chỉ" type="text" v-model="formData.address" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label for="">Email</label>
                  <input placeholder="Email" type="text" v-model="formData.email" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label for="">Điện thoại liên hệ</label>
                  <input placeholder="Điện thoại liên hệ" type="text" v-model="formData.contactPhone" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label for="">Điện thoại nhận sms</label>
                  <input placeholder="Điện thoại nhận sms" type="text" v-model="formData.smsPhone" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label for="">Kinh độ</label>
                  <input placeholder="108.1716864" type="text" v-model="formData.longitude" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label for="">Vĩ độ</label>
                  <input placeholder="16.0472484" type="text" v-model="formData.latitude" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                  <label for="">Mô tả</label>
                  <textarea placeholder="Mô tả ... " rows="5" class="form-control" v-model="formData.description"></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Thứ tự</label>
                  <input placeholder="Thứ tự hiển thị" type="text" v-model="formData.order" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                  <label>Galleries</label>
                  <no-ssr>
                    <upload-photo
                    @uploadDone="uploadGalleries"
                    :id="'uploadGalleries'"
                    :iscrop="false"
                    :enableResize="true"
                    :enableOrientation="false"
                    ></upload-photo>
                  </no-ssr>
                  <div class="form-group preview-feature-image col-md-3" v-if="galleriesArray.length" :key="index" v-for="(gallery,index) in galleriesArray">
                    <img :src="gallery" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="galleriesArray.splice(index,1)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header">
                <h4>Hành động</h4>
              </div>
              <div class="box-body text-center">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Hình ảnh đại diện</h4>
              </div>
              <div class="box-body text-center">
                <div class="form-group preview-feature-image" v-if="formData.featureImage">
                  <img :src="formData.featureImage" alt=""/>
                  <button class="btn-remove-feature-image" type="button" @click="formData.featureImage = ''"><i class="fa fa-close"></i></button>
                </div>
                <no-ssr>
                  <upload-photo
                    @uploadDone="uploadImageDone"
                    :id="'uploadCoverImage'"
                    :iscrop="false"
                    :enableResize="false"
                    :enableOrientation="false"
                    :btnlabel="'Upload hình ảnh'"
                    ></upload-photo>
                </no-ssr>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import shopApi from '@/assets/js/api/shop'
import branchApi from '@/assets/js/api/branch'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import UploadPhoto from '@/components/ui-kits/upload-form'

export default {
  layout: 'master',
  components: {
    InputGroup,
    UploadPhoto
  },
  data () {
    return {
      listShops: [],
      formData: {
        name: '',
        slug: '',
        address: '',
        email: '',
        contactPhone: '',
        smsPhone: '',
        featureImage: '',
        galleries: '',
        latitude: '',
        longitude: '',
        description: '',
        shopId: -1,
        viewNumber: 0,
        provinceId: 48,
        order: 3
      },
      galleriesArray: []
    }
  },
  validations: {
    formData: {
      name: {required},
      slug: {required}
    }
  },
  methods: {
    clearForm () {
      this.formData = {
        name: '',
        slug: '',
        address: '',
        email: '',
        contactPhone: '',
        smsPhone: '',
        featureImage: '',
        latitude: '108.1716864',
        longitude: '16.0472484',
        description: '',
        shopId: -1,
        viewNumber: 0,
        provinceId: 48
      }
      this.$v.formData.$reset()
    },
    genSlug () {
      if(this.formData.slug) {
        this.formData.slug = genSlug(this.formData.slug)
      } else {
        this.formData.slug = genSlug(this.formData.name)
      }
    },
    submitForm (e) {
      e.preventDefault();
      var id = this.$route.params.id
      this.formData.galleries = this.galleriesArray.join(',')
      if(!this.$v.$invalid) {
        if(id && id > 0){
          branchApi.updateProvider(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Cập nhật thành công',
              type: 'success'
            })
            this.$router.push({ path: '/branch' })
          })
        } else {
          branchApi.createProvider(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Tạo mới thành công',
              type: 'success'
            })
            this.$router.push({ path: '/branch' })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    uploadImageDone (data) {
      this.formData.featureImage = data.url
    },
    uploadGalleries (data) {
      this.galleriesArray.push(data.url)
    }
  },
  beforeMount () {
    shopApi.getAllShops(this.$authToken, { rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listShops = rs.data 
      if(this.$route.query.shopId && this.$route.query.shopId > 0){
        this.formData.shopId = this.$route.query.shopId
      }
    })
    var id = this.$route.params.id
    if(id && id > 0) {
      branchApi.getProviderById(this.$authToken, id).then(rs => {
        this.formData = rs
        this.galleriesArray = this.formData.galleries.split(',')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 21px;
  top:-5px ; right:-5px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>