<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý chi nhánh
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý chi nhánh</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách chi nhánh</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <router-link v-if="$route.query.shopId && $route.query.shopId > 0"  :to="`/branch/create?shopId=${ $route.query.shopId}`" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm mới</router-link>
                <router-link v-else to="/branch/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm mới</router-link>
              </div>
              <search :searchParams="searchParams"  v-on:search="sumbitSearch" />
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên chi nhánh</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Liên hệ</th>
                    <th>Sms</th>
                    <th>Shop</th>
                    <th>Thứ tự</th>
                    <th class="text-center">#</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item,index) in listProvides.data" :key="item.id">
                    <td>{{(listProvides.meta.page - 1)*listProvides.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.contactPhone}}</td>
                    <td>{{item.smsPhone}}</td>
                    <tr-branch :shopId="item.shopId" />
                    <td>{{item.order}}</td>
                    <td class="text-center">
                      <nuxt-link :to="`/branch/create/${item.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                      <a href="" v-on:click.prevent="deleteProvider(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listProvides.meta !== undefined && listProvides.meta.totalPage > 1" :page-count="listProvides.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import branchApi from '@/assets/js/api/branch'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import TrBranch from '@/components/pages/branch/TrBranch'
import Search from '@/components/pages/branch/Search'

export default {
  layout: 'master',
  components: {
    Paginate,
    TrBranch,
    Search
  },
  data () {
    return {
      listProvides: [],
      searchParams: {
        shopId: -1,
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'asc',
        keyword: '',
        categoryId: -1
      }
    }
  },
  methods: {
    fetchData () {
      branchApi.getAllProviders(this.$authToken, this.searchParams).then(rs => {
        this.listProvides = rs
      })
    },
    deleteProvider (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        providerApi.deleteProvider(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    }
  },
  beforeMount () {
    if(this.$route.query.shopId && this.$route.query.shopId > 0){
      this.searchParams.shopId = this.$route.query.shopId
    }
    this.fetchData()
  }
}
</script>
