<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý booking
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý booking</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách booking</h3>
            </div>
            <div class="box-body">
              <search :searchParams="searchParams"  v-on:search="sumbitSearch" />
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Họ tên</th>
                    <th>Điện thoại</th>
                    <th>Sản phẩm</th>
                    <th>Địa điểm</th>
                    <th>Thời gian Booking</th>
                    <th>Thời gian đặt</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listBookings.data" :key="item.id">
                    <td>{{(listBookings.meta.page - 1)*listBookings.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.accountFullName}}</td>
                    <td>{{item.accountPhone}}</td>
                    <tr-product :productId="item.productId" />
                    <tr-branch :branchId="item.branchId" />
                    <td width="200">{{formatDate(item.dateBooking, 'DD/MM/YYYY')}} - {{item.timeBooking}}</td>
                    <td width="200">{{formatDate(item.createdDate, 'DD/MM/YYYY HH:mm')}}</td>
                    <select-status :status="item.statusDiscountCode" :bookingId="item.id"/>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listBookings.meta !== undefined && listBookings.meta.totalPage > 1" :page-count="listBookings.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import bookingApi from '@/assets/js/api/booking'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import TrBranch from '@/components/pages/booking/TrBranch'
import TrProduct from '@/components/pages/booking/TrProduct'
import Search from '@/components/pages/booking/search'
import SelectStatus from '@/components/pages/booking/selectStatus'
import {formatDate} from '@/assets/js/commons/functions'

export default {
  layout: 'master',
  components: {
    Paginate,
    TrBranch,
    TrProduct,
    Search,
    SelectStatus
  },
  data () {
    return {
      listBookings: [],
      searchParams: {
        shopId: -1,
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'desc',
        keyword: '',
        branchId: -1,
        productId: -1,
        campaignId: -1
      }
    }
  },
  methods: {
    fetchData () {
      bookingApi.getAllBookings(this.$authToken, this.searchParams).then(rs => {
        this.listBookings = rs
      })
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    formatDate (value, format){
      return formatDate(value, format)
    }
  },
  beforeMount () {
    this.fetchData()
  }
}
</script>
