<template>
  <td v-html="categoryName"></td>
</template>

<script>
import categoryApi from '@/assets/js/api/category'
export default {
  props: ['listCategoryIds'],
  data () {
    return {
      categoryName: ''
    }
  },
  beforeMount () {
    if(this.listCategoryIds.length) {
      this.listCategoryIds.forEach(element => {
        categoryApi.getCategoryById(this.$authToken, element).then(rs => {
          this.categoryName += ` <span class="label label-default">${rs.name}</span>`
        })
      });
    }
  }
}
</script>

<style>

</style>
