<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">          
            <div class="col-md-4">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" v-model="searchParams.keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
            </div>
            <div class="col-md-3">
              <label>Shop</label>
              <select class="form-control input-sm" v-model="searchParams.shopId">
                <option value="-1">Tất cả</option>
                <option v-for="item in listShops" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Danh mục </label>
              <select class="form-control input-sm" v-model="searchParams.categoryId">
                <option value="-1">Chọn Danh mục</option>
                <option v-for="item in listCategories" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-sm btn-block">Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['searchParams', 'listCategories', 'listShops'],
  data () {
    return {
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.$emit('search', this.searchParams);
    },
  },
  beforeMount () {

  }
}
</script>

<style>

</style>
