<template>
  <td v-html="shopName"></td>
</template>

<script>
import shopApi from '@/assets/js/api/shop'
export default {
  props: ['shopId'],
  data () {
    return {
      shopName: ''
    }
  },
  beforeMount () {
    if(this.shopId) {
      shopApi.getShopById(this.$authToken, this.shopId).then(rs => {
        this.shopName =  `<span class="label label-default">${rs.name}</span>`
      })
    }
  }
}
</script>

<style>

</style>
