<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý shop
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý shop</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-5">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới & Cập nhật</h3>
            </div>
            <form @submit="submitForm">
              <div class="box-body">
                <input-group
                  :label="'Tên shop (*)'"
                  :error="$v.formData.name.$error" 
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  />
                <div class="form-group">
                  <label for="">Mô tả</label>
                  <textarea rows="7" v-model="formData.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="">Hình ảnh</label>
                  <div class="form-group preview-feature-image" v-if="formData.featureImage">
                    <img :src="formData.featureImage" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.featureImage = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <no-ssr>
                    <upload-photo
                    @uploadDone="uploadImageDone"
                    :id="'uploadCoverImage'"
                    :iscrop="false"
                    :enableResize="false"
                    :enableOrientation="false"
                    :btnlabel="'Upload hình ảnh'"
                    ></upload-photo>
                  </no-ssr>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách shop</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên shop</th>
                    <th width="150">Danh sách chi nhánh</th>
                    <th width="150">Danh sách sản phẩm</th>
                    <th width="100" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listShops.data" :key="item.id">
                    <td class="text-center">{{(listShops.meta.page - 1)*listShops.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.name}}</td>
                    <td class="text-center">
                      <nuxt-link :to="`/branch?shopId=${item.id}`" class="btn btn-xs btn-primary"><i class="fa fa-bars"></i></nuxt-link>
                    </td>
                    <td class="text-center">
                      <nuxt-link :to="`/product?shopId=${item.id}`" class="btn btn-xs btn-primary"><i class="fa fa-th"></i></nuxt-link>
                    </td>
                    <td class="text-center">
                      <a :href="`/shop/edit/${item.id}`" v-on:click.prevent="loadDetailShop(item.id)" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>&nbsp;
                      <a href="" v-on:click.prevent="deleteShop(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listShops.meta !== undefined && listShops.meta.totalPage > 1" :page-count="listShops.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import shopApi from '@/assets/js/api/shop'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import UploadPhoto from '@/components/ui-kits/upload-form'

export default {
  layout: 'master',
  components: {
    InputGroup,
    Paginate,
    UploadPhoto
  },
  data () {
    return {
      listShops: [],
      searchParams: {
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'desc',
        keyword: ''
      },
      formData: {
        id: 0,
        name: '',
        description: '',
        featureImage: ''
      }
    }
  },
  validations: {
    formData: {
      name: {required}
    }
  },
  methods: {
    fetchData () {
      shopApi.getAllShops(this.$authToken, this.searchParams).then(rs => {
        this.listShops = rs
      })
    },
    clearForm () {
      this.formData = {
        id: 0,
        name: '',
        description: ''
      }
      this.$v.formData.$reset()
    }, 
    submitForm (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        if(this.formData.id && this.formData.id > 0){
          shopApi.updateShop(this.$authToken, this.formData.id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Cập nhật thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        } else {
          shopApi.createShop(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Tạo mới thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    loadDetailShop (id) {
      shopApi.getShopById(this.$authToken, id).then(rs => {
        this.formData = rs
      })
    },
    deleteShop (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        shopApi.deleteShop(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    uploadImageDone (data) {
      this.formData.featureImage = data.url
    }
  },
  beforeMount () {
    this.fetchData()
  }
}
</script>
<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 21px;
  top:-5px ; right:-5px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>