<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cài đặt Group text: <strong>{{groupText.title}}</strong>
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/config/grouptext"><i class="fa fa-dashboard"></i> Group Text</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="form-group">
         <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Text Detail</h3>
              </div>
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Title</th>
                      <th>Sub title</th>
                      <th width="10%">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in groupTextDetails" :key="item.id">
                        <td>{{item.order}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.subTitle}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-xs" type="button" @click="bindEditForm(item.id)"><i class="fa fa-pencil"></i></button>	&nbsp;&nbsp;
                            <button class="btn btn-danger btn-xs" type="button" @click="deleteItem(item.id)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
      </div>
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
              </div>
              <div class="box-body">
                <div class="form-group row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <input-group 
                        :label="'Tiêu đề group text (*)'"
                        :error="$v.groupTextDetail.title.$error" 
                        v-model="groupTextDetail.title" 
                        @blur="$v.groupTextDetail.title.$touch()"
                        />
                        <input-group 
                        :label="'Url'"
                        v-model="groupTextDetail.url"
                        />
                        <input-group 
                        :label="'HTML Class'"
                        v-model="groupTextDetail.htmlClass" 
                        />
                      </div>
                      <div class="col-md-6">
                        <input-group 
                          :label="'Sub title'"
                          v-model="groupTextDetail.subTitle" 
                          />
                          <input-group 
                          :label="'Sắp xếp'"
                          v-model="groupTextDetail.order" 
                          />
                          <input-group 
                          :label="'Custom Style'"
                          v-model="groupTextDetail.customStyle" 
                          />
                      </div>
                    </div>
                    <div class="form-group">
                    <label>Mô tả</label>
                    <div class="form-group">
                         <no-ssr>
                        <editor 
                            id="postContent"
                            :dataChange="dataChange"
                            v-model="groupTextDetail.description"
                            >
                            </editor>
                        </no-ssr>
                    </div>
                </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                    <label>Tùy chọn upload</label>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Crop hình</label><br/>
                            <input type="checkbox" v-model="uploadOptions.isCrop"/> Crop hình
                        </div>
                        <div class="col-md-4" v-show="uploadOptions.isCrop">
                            <label>Chiều rộng</label>
                            <input type="number" min="0" v-model="uploadOptions.width" class="form-control" />
                        </div>
                        <div class="col-md-4" v-show="uploadOptions.isCrop">
                            <label>Chiều cao</label>
                            <input type="number" min="0" v-model="uploadOptions.height" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                      <label for="">Ảnh đại diện</label>
                      <div class="form-group preview-feature-image" v-if="groupTextDetail.image" >
                          <img :src="groupTextDetail.image" alt=""/>
                          <button class="btn-remove-feature-image" type="button" @click="groupTextDetail.image = ''"><i class="fa fa-close"></i></button>
                      </div>
                      <no-ssr>
                      <upload-photo
                        @uploadDone="uploadGroupTextImageDone"
                        :id="'uploadGroupTextDetailImage'"
                        :iscrop="uploadOptions.isCrop"
                        :enableResize="false"
                        :enableOrientation="false"
                        :width="uploadOptions.width"
                        :height="uploadOptions.height"
                        :align="'center'"
                        ></upload-photo>
                      </no-ssr>
                  </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <button type="button" class="btn btn-default" style="margin-left:20px;" @click.prevent="clearForm">
                  <i class="fa fa-undo"></i> Hủy
                </button>
              </div>
            </div>
        </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from "vuejs-paginate/src/components/Paginate.vue";
import groupTextDetailApi from "@/assets/js/api/grouptextdetail";
import {
  required,
  minLenght,
  maxLength,
  requiredIf,
  requiredUnless
} from "vuelidate/lib/validators";
import InputGroup from "@/components/ui-kits/input-group";
import Editor from "@/components/ui-kits/editor";
import UploadPhoto from "@/components/ui-kits/upload-form";
export default {
  layout: "master",
  components: {
    Paginate,
    InputGroup,
    Editor,
    UploadPhoto
  },
  data() {
    return {
      groupTextDetail: {
        groupId: +this.$route.params.id,
        image: '',
        description: '',
        url: '',
        customStyle: '',
        htmlClass: '',
      },
      groupText: {},
      groupTextDetails: [],
      searchKeyWord: "",
      page: 1,
      dataChange: false,
      uploadOptions: {
        isCrop: false,
        width: 200,
        height: 200
      },
      groupTextId: this.$route.params.id
    };
  },
  validations: {
    groupTextDetail: {
      title: { required }
    }
  },
  methods: {
    submit(e) {
      e.preventDefault();
      if(this.groupTextDetail.id && +this.groupTextDetail.id >0) {
        this.groupTextDetail.groupId = this.groupTextId
        groupTextDetailApi.updateGroupTextDetail(this.$authToken,this.groupTextDetail.id, this.groupTextDetail)
        .then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Lưu thông tin thành công',
              type: 'success'
            })
            this.loadData()
            this.clearForm()
        })
        .catch((err)=> {
          this.showNotifyMessage({
            title: 'Thất bại',
            message: err.message,
            type: 'error'
          })
        })
      } else {
        this.groupTextDetail.groupId = this.groupTextId
        groupTextDetailApi.createGroupTextDetail(this.$authToken,this.groupTextDetail)
        .then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Lưu thông tin thành công',
              type: 'success'
            })
            this.loadData()
            this.clearForm()
        })
        .catch((err)=> {
          this.showNotifyMessage({
            title: 'Thất bại',
            message: err.message,
            type: 'error'
          })
        })
      }
    },
    clearForm() {
      this.groupTextDetail = { groupId: this.groupTextId, description: "", image: '' };
      this.dataChange = false;
      setTimeout(
        function() {
          this.dataChange = true;
        }.bind(this),
        1000
      );
      this.$v.groupTextDetail.$reset()
    },
    callPage() {},
    loadData() {
      groupTextDetailApi
        .getGroupTextDetailByGroupId(this.$authToken, this.groupTextId)
        .then(rs => {
          this.groupText = rs.data.groupText;
          this.groupTextDetails = rs.data.groupTextDetails;
        });
    },
    bindEditForm(id) {
      this.dataChange = false;
      groupTextDetailApi
        .getGroupTextDetailById(this.$authToken, id)
        .then(rs => {
          console.log(rs);
          this.groupTextDetail = rs.data.groupTextDetail;
          this.dataChange = true;
        });
    },
    deleteItem(id) {
      if (confirm("Bạn có chắc muốn xóa dữ liệu ?")) {
        groupTextDetailApi
        .deleteGroupTextDetail(this.$authToken, id)
        .then(rs => {
          this.loadData()
          this.clearForm()
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa dữ liệu thành công',
            type: 'success'
          })
        });
      }
    },
    uploadGroupTextImageDone(data) {
      console.log(data)
      this.groupTextDetail.image = data.url;
      console.log(this.groupTextDetail)
    }
  },
  computed: {},
  beforeMount() {
    this.loadData();
  }
};
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 22px;
  top: -5px;
  right: -5px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
</style>
