<template>
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">Chi nhánh áp dụng</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" @click="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" @click="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div v-if="isCollapse" class="box-body">
      <div v-if="!localIsCloneForAllBranch" class="form-group col-md-6">
        <label>Chi nhánh áp dụng (*)</label>
        <select class="form-control" v-model="localCampaignDetailMapBranch.branchId">
          <option value="-1">Chọn chi nhánh</option>
          <option v-for="branch in listBranchs.data" :key="branch.id" :value="branch.id">{{branch.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">

      </div>
      <div style="clear:left"></div>
      <div class="form-group col-md-6">
        <label>Thời gian bắt đầu (*)</label> <i> Lưu ý nhập giờ, phút đủ 2 chữ số, vd: 08:00</i>
        <input type="text" class="form-control" placeholder="ví dụ: 11:00" v-model="localCampaignDetailMapBranch.startTime"/>
      </div>
      <div class="form-group col-md-6">
        <label>Thời gian kết thúc (*)</label> <i> Lưu ý nhập giờ, phút đủ 2 chữ số, vd: 08:00</i>
        <input type="text" class="form-control"  placeholder="ví dụ: 15:20" v-model="localCampaignDetailMapBranch.endTime"/>
      </div>
      <div class="form-group col-md-6">
        <label>Khoảng cách giữa các lần lấy mã (Nhập số phút) (*)</label>
        <input type="number" class="form-control" placeholder="ví dụ: 120"  v-model="localCampaignDetailMapBranch.timeStep"/>
      </div>
      <div class="form-group col-md-6">
        <label>Số lần lấy mã giới hạn trong 1 khoảng thời gian (*)</label>
        <input type="number" class="form-control"  v-model="localCampaignDetailMapBranch.numberBookingLimitOneStep"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['listBranchs','campaignDetailMapBranch','isCloneForAllBranch'],

  data () {
    return {
      isCollapse: true,
      localIsCloneForAllBranch: false,
      localCampaignDetailMapBranch: {
        id: -1,
        campainDetailsId: -1,
        branchId: -1,
        endTime: '',
        startTime: '',
        timeStep: 0,
        numberBookingLimitOneStep: 0
      }
    }
  },
  methods: {
    collapse () {
      this.isCollapse = !this.isCollapse
    },
    remove (){
      this.$emit('removeObjEvent', this.campaignDetailMapBranch.tempId);
    }
  },
  beforeMount () {
    this.localCampaignDetailMapBranch = this.campaignDetailMapBranch
    this.localIsCloneForAllBranch = this.isCloneForAllBranch
  }
}
</script>

<style>

</style>
