<template>
  <div v-if="isShow">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Sản phẩm khuyến mãi</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" @click="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" @click="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div v-if="isCollapse" class="box-body" style="">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Sản phẩm khuyến mãi (*)</label>
            <select class="form-control" @change="productChange" v-model="productObj">
              <option :value="{id: -1, name: 'Chọn sản phẩm'}">Chọn sản phẩm</option>
              <option v-for="product in listProducts.data" :key="product.id" :value="{id: product.id, name: product.name}">{{product.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Slug</label>
            <input type="text" class="form-control" v-model="localCampaignDetail.campaignDetail.slug"/>
          </div>
          <div class="form-group col-md-6">
            <label>Loại khuyến mãi (*)</label>
            <select class="form-control" v-model="localCampaignDetail.campaignDetail.campaignType">
              <option value="1">Áp dụng cho cửa hàng</option>
              <option value="2">Áp dụng cho tất cả chi nhánh</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Số lượng code giới hạn (*)</label>
            <input type="number" class="form-control" v-model="localCampaignDetail.campaignDetail.numberGetCodeLimit"/>
          </div>
          <div class="form-group col-md-6">
            <label>Hình thức khuyến mãi (*)</label>
            <select class="form-control" v-model="localCampaignDetail.campaignDetail.discountType">
              <option value="1">Phần trăm</option>
              <option value="2">Tiền</option>
              <option value="3">Đồng giá</option>
              <option value="4">Khác</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Hình thức khuyến mãi khác</label>
            <input class="form-control" v-model="localCampaignDetail.campaignDetail.textDiffrentDiscountType"/>
          </div>
          <div class="form-group col-md-6">
            <label>Giá trị khuyến mãi (*)</label>
            <input type="number" class="form-control" v-model="localCampaignDetail.campaignDetail.discountValue"/>
          </div>
          <div class="form-group col-md-6">
            <label>Thứ tự hiển thị</label>
            <input type="number"  class="form-control" v-model="localCampaignDetail.campaignDetail.order"/>
          </div>
          <div class="form-group col-md-6">
            <label>Text hiển thị khuyến mãi khác</label>
            <input class="form-control" v-model="localCampaignDetail.campaignDetail.textGift"/>
          </div>
          <div class="form-group col-md-6">
            <label>Tùy chọn khác</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="localCampaignDetail.campaignDetail.isCopyRight"> Khuyến mãi độc quyền
              </label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Hiển thị khuyến mãi Hot</label>
            <select class="form-control" v-model="localCampaignDetail.campaignDetail.labelType">
              <option value="0">Chọn loại hiển thị</option>
              <option value="1">Khuyến mãi Hot</option>
              <option value="2">Chiến dịch</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <label>Danh sách chi nhánh áp dụng</label>
            <div class="form-group">
              <button v-if="!this.localCampaignDetail.isCloneForAllBranch" class="btn btn-sm btn-primary" @click="addComponent">Thêm chi nhánh</button>&nbsp;&nbsp;
              <span v-if="!this.localCampaignDetail.isCloneForAllBranch">hoặc&nbsp;&nbsp;</span>
              <label style="font-weight: normal">
                <input type="checkbox" @click="checkAllBranch" v-model="localCampaignDetail.isCloneForAllBranch">&nbsp;Áp dụng với tất cả chi nhánh
              </label>
            </div>
            <campaign-detail-map-branch v-for="item in localCampaignDetail.listBranchs"
              :key="item.tempId"
              :campaignDetailMapBranch="item"
              :listBranchs="listBranchs"
              :isCloneForAllBranch="localCampaignDetail.isCloneForAllBranch"
              v-on:removeObjEvent="removeObjEvent"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CampaignDetailMapBranch from '@/components/pages/campaign/campaignDetailMapBranch'
import productApi from '@/assets/js/api/product'
import {genSlug} from '@/assets/js/commons/functions'
export default {
  props: ['listBranchs', 'listProducts','campaignDetail','campaignSlug'],
  components: {
    CampaignDetailMapBranch
  },
  data () {
    return {
      productObj: {id: '-1', name: 'Chọn sản phẩm'},
      isCollapse: true,
      isShow: true,
      tempId: 0,
      localCampaignDetail: {
        campaignDetail: {
          id: 0,
          slug: '',
          order: 0,
          isCopyRight: false,
          discountType: 1,
          discountValue: 0,
          campaignType: 1,
          numberGetCodeLimit: 0,
          campaignId: -1,
          productId: -1,
          shopId: -1,
        },
        listBranchs: [],
        isCloneForAllBranch: false,
      }
    }
  },
  methods: {
    productChange () {
      if(this.productObj.id > -1){
        this.localCampaignDetail.campaignDetail.productId = this.productObj.id
        this.localCampaignDetail.campaignDetail.slug = this.campaignSlug + '-' + genSlug(this.productObj.name) + '-'+ Math.random().toString(36).substring(2, 5)
      } else {
        this.localCampaignDetail.campaignDetail.productId = this.productObj.id
        this.localCampaignDetail.campaignDetail.slug = ''
      }

    },
    collapse () {
      this.isCollapse = !this.isCollapse
    },
    remove () {
      // this.isShow = false
      this.$emit('removeObjEvent', this.campaignDetail.campaignDetail.tempId);
    },
    addComponent (e){
      e.preventDefault()
      var campaignDetailMapBranch = {
        tempId: this.tempId,
        campainDetailsId: -1,
        branchId: -1,
        endTime: '',
        startTime: '',
        timeStep: 0,
        numberBookingLimitOneStep: 0
      }
      this.localCampaignDetail.listBranchs.push(campaignDetailMapBranch)
      this.tempId ++
    },
    checkAllBranch (e){
      e.preventDefault()
      this.localCampaignDetail.listBranchs = []
      if(!this.localCampaignDetail.isCloneForAllBranch){
        this.localCampaignDetail.isCloneForAllBranch = true
        var campaignDetailMapBranch = {
          tempId: this.tempId,
          campainDetailsId: -1,
          branchId: -1,
          endTime: '',
          startTime: '',
          timeStep: 0,
          numberBookingLimitOneStep: 0
        }
        this.localCampaignDetail.listBranchs.push(campaignDetailMapBranch)
      }
      else {
        this.localCampaignDetail.isCloneForAllBranch = false
      }
    },
    removeObjEvent (id) {
      console.log(id)
      if(this.localCampaignDetail.listBranchs.length > 0){
        this.localCampaignDetail.listBranchs = this.localCampaignDetail.listBranchs.filter(function(el){
          return el.tempId !== id
        });
      }
    }
  },
  beforeMount () {
    this.localCampaignDetail = this.campaignDetail
    this.tempId = this.campaignDetail.listBranchs.length + 1
    //  this.localCampaignDetail.campaignDetail.slug = this.campaignSlug
    if(this.campaignDetail.campaignDetail.productId > -1) {
      productApi.getProductById(this.$authToken, this.campaignDetail.campaignDetail.productId ).then(rs => {
        this.productObj = {
          id: this.campaignDetail.campaignDetail.productId,
          name: rs.product.name
        }
      })
    }
  }
}
</script>

<style scoped>
.btn-remove-feature-image{
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 21px;
  top:0px ; right:0px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
