<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý sản phẩm</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới & Cập nhật</h3>
            </div>
            <form @submit="submitForm">
              <div class="box-body">
                <input-group
                  :label="'Tên sản phẩm (*)'"
                  :error="$v.formData.product.name.$error" 
                  v-model="formData.product.name"
                  @blur="$v.formData.product.name.$touch()"
                  @change="genSlug"
                  />
                <input-group
                  :label="'Slug (*)'"
                  :error="$v.formData.product.slug.$error" 
                  v-model="formData.product.slug"
                  @blur="$v.formData.product.slug.$touch()"
                  @change="genSlug"
                  />
                <div class="form-group">
                  <label>Shop (*)</label>
                  <select class="form-control" v-model="formData.product.shopId">
                    <option value="-1">Chọn Shop</option>
                    <option v-for="item in listShops" :key="item.id" :value="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="box box-primary">
                    <div class="box-header">
                      <h4>Danh mục</h4>
                    </div>
                    <div class="box-body">
                      <div class="form-group" style="max-height: 450px; overflow: hidden; overflow-y: auto;">
                        <div v-for="cat in listCategories" :key="cat.id" style="margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px dotted #eee;">
                          <input type="checkbox" :id="`cat-id-${cat.id}`" :value="cat.id" v-model="formData.listCategoryIds">&nbsp;&nbsp;&nbsp;&nbsp; <label style="cursor:pointer; font-weight: normal" :for="`cat-id-${cat.id}`">{{cat.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Mô tả</label>
                  <textarea placeholder="Mô tả ... " rows="5" class="form-control" v-model="formData.product.description"></textarea>
                </div>
                <!-- <div class="form-group">
                  <label for="">Giá</label>
                  <input type="text" v-model="formData.product.price" class="form-control" />
                </div> -->
                <input-group
                  :label="'Giá'"
                  :error="$v.formData.product.price.$error" 
                  v-model="formData.product.price"
                  :errormsg="'Trường này phải là kiểu số'"
                  @blur="$v.formData.product.price.$touch()"
                  />
                <div class="form-group">
                  <label for="">Hình ảnh</label>
                  <div class="form-group preview-feature-image" v-if="formData.product.featureImage">
                    <img :src="formData.product.featureImage" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.product.featureImage = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <no-ssr>
                    <upload-photo
                    @uploadDone="uploadImageDone"
                    :id="'uploadCoverImage'"
                    :iscrop="false"
                    :enableResize="false"
                    :enableOrientation="false"
                    :btnlabel="'Upload hình ảnh'"
                    ></upload-photo>
                  </no-ssr>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách sản phẩm</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <search v-on:search="sumbitSearch" :searchParams="searchParams" :listShops="listShops" :listCategories="listCategories"/>
              </div>
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Shop</th>
                    <th>Giá</th>
                    <th width="150">Danh sách khuyến mãi</th>
                    <th width="80" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listProducts.data" :key="item.id">
                    <td>{{(listProducts.meta.page - 1)*listProducts.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.name}}</td>
                    <tr-shop :shopId="item.shopId"/>
                    <td>{{item.price}}</td>
                    <td class="text-center">
                      <nuxt-link :to="`/campaign?productId=${item.id}`" class="btn btn-xs btn-primary"><i class="fa fa-bars"></i></nuxt-link>
                    </td>
                    <td class="text-center">
                      <a :href="`/product/edit/${item.id}`" v-on:click.prevent="loadDetailProduct(item.id)" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>&nbsp;
                      <a href="" v-on:click.prevent="deleteProduct(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listProducts.meta !== undefined && listProducts.meta.totalPage > 1" :page-count="listProducts.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import productApi from '@/assets/js/api/product'
import categoryApi from '@/assets/js/api/category'
import shopApi from '@/assets/js/api/shop'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import { required, minLenght, maxLength, requiredIf, requiredUnless, numeric } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import TrShop from '@/components/pages/product/TrShop'
import Search from '@/components/pages/product/Search'
import UploadPhoto from '@/components/ui-kits/upload-form'

export default {
  layout: 'master',
  components: {
    InputGroup,
    Paginate,
    TrShop,
    Search,
    UploadPhoto
  },
  data () {
    return {
      listCategories: [],
      listProducts: [],
      listShops: [],
      searchParams: {
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'desc',
        keyword: '',
        categoryId: -1,
        shopId: -1
      },
      formData: {
        product: {
          name: '',
          slug: '',
          price: 0,
          description: '',
          shopId: -1,
          featureImage: ''
        },
        listCategoryIds: []
      }
    }
  },
  validations: {
    formData: {
      product: {
        name: {required},
        slug: {required},
        price: {numeric}
      }
    }
  },
  methods: {
    fetchData () {
      productApi.getAllProducts(this.$authToken, this.searchParams).then(rs => {
        this.listProducts = rs
      })
    },
    clearForm () {
      this.formData = {
        product: {
          name: '',
          slug: '',
          price: 0,
          description: '',
          shopId: -1,
          featureImage: ''
        },
        listCategoryIds: []
      }
      this.$v.formData.$reset()
    },
    genSlug () {
      if(this.formData.product.slug) {
        this.formData.product.slug = genSlug(this.formData.product.slug)
      } else {
        this.formData.product.slug = genSlug(this.formData.product.name)
      }
    },
    submitForm (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        if(this.formData.product.id && this.formData.product.id > 0){
          productApi.updateProduct(this.$authToken, this.formData.product.id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Cập nhật thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        } else {
          productApi.createProduct(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Tạo mới thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    loadDetailProduct (id) {
      productApi.getProductById(this.$authToken, id).then(rs => {
        this.formData.product = rs.product
        this.formData.listCategoryIds = rs.listCategoryIds
      })
    },
    deleteProduct (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        productApi.deleteProduct(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    uploadImageDone (data) {
      this.formData.product.featureImage = data.url
    }
  },
  beforeMount () {
    this.fetchData()
    shopApi.getAllShops(this.$authToken, {rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listShops = rs.data
      if(this.$route.query.shopId && this.$route.query.shopId > 0){
        this.searchParams.shopId = this.$route.query.shopId
        this.formData.product.shopId = this.$route.query.shopId
      }
    })
    categoryApi.getAllCategory(this.$authToken, {rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listCategories = rs.data
    })
  }
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 21px;
  top:-5px ; right:-5px;
  border: 0;     

  
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>