<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý danh mục
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý danh mục</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-5">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới & Cập nhật</h3>
            </div>
            <form @submit="submitForm">
              <div class="box-body">
                <input-group
                  :label="'Tên danh mục (*)'"
                  :error="$v.formData.name.$error" 
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  @change="genSlug"
                  />
                <input-group
                  :label="'Slug (*)'"
                  :error="$v.formData.slug.$error" 
                  v-model="formData.slug"
                  @blur="$v.formData.slug.$touch()"
                  @change="genSlug"
                  />
                <div class="form-group">
                  <label for="">Icon</label>
                  <div class="form-group preview-feature-image" v-if="formData.icon">
                    <img :src="formData.icon" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.icon = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <no-ssr>
                    <upload-photo
                    @uploadDone="uploadIconImageDone"
                    :id="'uploadCoverImage'"
                    :iscrop="false"
                    :enableResize="false"
                    :enableOrientation="false"
                    :btnlabel="'Upload icon'"
                    ></upload-photo>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label for="">Thứ tự</label>
                  <input type="text" v-model="formData.order" class="form-control" />
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.isShowHome"> Hiển thị trên trang chủ
                    </label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách danh mục</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên danh mục</th>
                    <th>Thứ tự</th>
                    <th>Hiển thị trang chủ</th>
                    <th class="text-center">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listCategories.data" :key="item.id">
                    <td>{{(listCategories.meta.page - 1)*listCategories.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.order}}</td>
                    <td v-if="item.isShowHome">Có</td>
                    <td v-else>Không</td>
                    <td class="text-center">
                      <a :href="`/category/edit/${item.id}`" v-on:click.prevent="loadDetailCategory(item.id)" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>&nbsp;
                      <a href="" v-on:click.prevent="deleteCategory(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listCategories.meta !== undefined && listCategories.meta.totalPage > 1" :page-count="listCategories.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import categoryApi from '@/assets/js/api/category'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import UploadPhoto from '@/components/ui-kits/upload-form'
export default {
  layout: 'master',
  components: {
    InputGroup,
    Paginate,
    UploadPhoto
  },
  data () {
    return {
      listCategories: [],
      searchParams: {
        page: 1,
        rowPerPage: 20,
        orderBy: 'order',
        order: 'asc',
        keyword: '',
        isShowHome: -1
      },
      formData: {
        name: '',
        slug: '',
        icon: '',
        order: 0,
        isShowHome: false
      }
    }
  },
  validations: {
    formData: {
      name: {required},
      slug: {required}
    }
  },
  methods: {
    fetchData () {
      categoryApi.getAllCategory(this.$authToken, this.searchParams).then(rs => {
        this.listCategories = rs
      })
    },
    clearForm () {
      this.formData = {
        name: '',
        slug: '',
        icon: '',
        order: 0,
        isShowHome: false
      }
      this.$v.formData.$reset()
    },
    genSlug () {
      if(this.formData.slug) {
        this.formData.slug = genSlug(this.formData.slug)
      } else {
        this.formData.slug = genSlug(this.formData.name)
      }
    },
    submitForm (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        if(this.formData.id && this.formData.id > 0){
          categoryApi.updateCategory(this.$authToken, this.formData.id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Cập nhật thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        } else {
          categoryApi.createdCategory(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Tạo mới thành công',
              type: 'success'
            })
            this.clearForm()
            this.fetchData()
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    loadDetailCategory (id) {
      categoryApi.getCategoryById(this.$authToken, id).then(rs => {
        this.formData = rs
      })
    },
    deleteCategory (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        categoryApi.deleteCategory(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    uploadIconImageDone (data) {
      this.formData.icon = data.url
    },
  },
  beforeMount () {
    this.fetchData()
  }
}
</script>


<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 21px;
  top:-5px ; right:-5px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>