<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý khuyến mãi
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý khuyến mãi</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <form @submit="submitForm">
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Cập nhật</h3>
              </div>
              <div class="box-body">
                <!-- <div class="form-group">
                  <label>Cửa hàng khuyến mãi</label>
                  <select class="form-control" v-model="shopId">
                    <option value="-1">Chọn shop</option>
                    <option v-for="shop in listShops" :key="shop.id" :value="shop.id">{{shop.name}}</option>
                  </select>
                </div> -->
                <input-group
                  :label="'Tên khuyến mãi (*)'"
                  :error="$v.formData.name.$error" 
                  :errormsg="''"
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  />
                <div class="form-group">
                  <label>Prefix code (*)</label>
                  <input type="text" placeholder="Tiền tố trước mã khuyến mãi VD: KMCN" class="form-control" v-model="formData.codePrefix"/>
                </div>
                <div class="form-group">
                  <label>Độ dài mã khuyến mãi</label>
                  <input type="text" placeholder="Độ dài mã khuyến mãi, nên > 3" class="form-control" v-model="formData.codeLength"/>
                </div>
                <div class="form-group">
                  <label>Ngày bắt đầu (*)</label>
                  <no-ssr>
                    <date-picker placeholder="Ngày bắt đầu khuyến mãi" v-model="startDate" :config="configDate"></date-picker>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label>Ngày kết thúc (*)</label>
                  <no-ssr>
                    <date-picker placeholder="Ngày kết thúc khuyến mãi" v-model="endDate" :config="configDate"></date-picker>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label>Mô tả khuyến mãi (*)</label>
                  <no-ssr>
                      <editor 
                        id="postContent"
                        :dataChange="dataChange"
                        v-model="formData.description"
                        >
                      </editor>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.isActive"> Kích hoạt
                    </label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <nuxt-link to="/campaign" class="btn btn-default" style="margin-left:20px;">
                  <i class="fa fa-undo"></i> Quay lại
                </nuxt-link>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import shopApi from '@/assets/js/api/shop'
import branchApi from '@/assets/js/api/branch'
import productApi from '@/assets/js/api/product'
import campaignApi from '@/assets/js/api/campaign'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
import moment from 'moment'

export default {
  layout: 'master',
  components: {
    InputGroup,
    Editor
  },
  data () {
    return {
      dataChange: false,
      listShops: [],
      listBranchs: [],
      listProducts: [],
      formData: {
        name: '',
        codePrefix: '',
        codeLength: '',
        startDateTime: '',
        endDateTime: '',
        isActive: false, 
        desc: ''
      },
      shopId: -1,
      configDate: {
        format: 'DD/MM/YYYY HH:mm',
        useCurrent: true
      },
      startDate: new Date(),
      endDate: new Date(),
    }
  },
  validations: {
    formData: {
      name: {required}
    }
  },
  methods: {
    clearForm () {
      this.formData = {
        name: '',
        codePrefix: '',
        codeLength: '',
        startDateTime: '',
        endDateTime: '',
        isActive: false,
        description: ''
      }
      this.$v.formData.$reset()
    },
    submitForm (e) {
      e.preventDefault();
      this.formData.startDateTime = moment(this.startDate,'DD/MM/YYYY hh:mm:ss').format()
      this.formData.endDateTime = moment(this.endDate,'DD/MM/YYYY hh:mm:ss').format()
      var id = this.$route.params.id
      if(!this.$v.$invalid) {
        if(id && id > 0){
          campaignApi.updateCampaign(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Cập nhật thành công',
              type: 'success'
            })
            this.$router.push({ path: '/campaign' })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Cập nhật không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    }
  },
  beforeMount () {
    shopApi.getAllShops(this.$authToken, { rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listShops = rs.data
    })
    if(this.$route.params.id) {
      campaignApi.getCampaignById(this.$authToken, this.$route.params.id).then(rs => {
        this.formData= rs
        this.startDate =  moment(this.formData.startDateTime).format('DD/MM/YYYY')
        this.endDate =  moment(this.formData.endDateTime).format('DD/MM/YYYY')
        this.dataChange  =true
      })
    }
  }
}
</script>
