<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý khuyến mãi
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý khuyến mãi</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách khuyến mãi</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <router-link v-if="$route.query.shopId && $route.query.shopId > 0"  :to="`/campaign/create?shopId=${ $route.query.shopId}`" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm mới</router-link>
                <router-link v-else to="/campaign/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm mới</router-link>
              </div>
              <!-- <search :searchParams="searchParams"  v-on:search="sumbitSearch" /> -->
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên khuyến mãi</th>
                    <th>Prefix</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th class="text-center">Kích hoạt</th>
                    <th class="text-center">Chi tiết khuyến mãi</th>
                    <th class="text-center">#</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item,index) in listCampaigns.data" :key="item.id">
                    <td>{{(listCampaigns.meta.page - 1)*listCampaigns.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.codePrefix}}</td>
                    <td>{{formatDate(item.startDateTime, 'DD/MM/YYYY hh:mm:ss')}}</td>
                    <td>{{formatDate(item.endDateTime, 'DD/MM/YYYY hh:mm:ss')}}</td>
                    <tr-active :isActive="item.isActive" :id="item.id"/>
                    <td class="text-center">
                      <nuxt-link :to="`/campaign-detail/${item.id}`" class="btn btn-xs btn-primary"><i class="fa fa-bars"></i></nuxt-link>
                    </td>
                    <td class="text-center">
                      <nuxt-link :to="`/campaign/edit/${item.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                      <a href="" v-on:click.prevent="deleteCampaign(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listCampaigns.meta !== undefined && listCampaigns.meta.totalPage > 1" :page-count="listCampaigns.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate>
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import campaignApi from '@/assets/js/api/campaign'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import TrActive from '@/components/pages/campaign/trActive'
import {formatDate} from '@/assets/js/commons/functions'

export default {
  layout: 'master',
  components: {
    Paginate,
    TrActive
  },
  data () {
    return {
      listCampaigns: [],
      searchParams: {
        branchId: -1,
        productId: -1,
        isActive: -1,
        fromDate: "",
        toDate: "",
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'asc',
        keyword: ''
      }
    }
  },
  methods: {
    fetchData () {
      campaignApi.getAllCampaigns(this.$authToken, this.searchParams).then(rs => {
        this.listCampaigns = rs
      })
    },
    deleteCampaign (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        campaignApi.deleteCampaign(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    formatDate (value, format){
      return formatDate(value, format)
    }
  },
  beforeMount () {
    // if(this.$route.query.shopId && this.$route.query.shopId > 0){
    //   this.searchParams.shopId = this.$route.query.shopId
    // }
    this.fetchData()
  }
}
</script>
