<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý khuyến mãi
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý khuyến mãi</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <form @submit="submitForm">
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Thông tin khuyến mãi</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label>Cửa hàng khuyến mãi</label>
                  <select class="form-control" disabled v-model="shopId" @change="getProductByShopId">
                    <option value="-1">Chọn shop</option>
                    <option v-for="shop in listShops" :key="shop.id" :value="shop.id">{{shop.name}}</option>
                  </select>
                </div>
                <input-group
                  :label="'Tên khuyến mãi (*)'"
                  :disabled="'disabled'"
                  v-model="campaign.name"
                  />
                <div class="form-group">
                  <label>Prefix code (*)</label>
                  <input disabled type="text" placeholder="Tiền tố trước mã khuyến mãi VD: KMCN" class="form-control" v-model="campaign.codePrefix"/>
                </div>
                <div class="form-group">
                  <label>Độ dài mã khuyến mãi</label>
                  <input disabled type="text" placeholder="Độ dài mã khuyến mãi, nên > 3" class="form-control" v-model="campaign.codeLength"/>
                </div>
                <div class="form-group">
                  <label>Ngày bắt đầu (*)</label>
                  <no-ssr>
                    <date-picker disabled placeholder="Ngày bắt đầu khuyến mãi" v-model="startDate" :config="configDate"></date-picker>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label>Ngày kết thúc (*)</label>
                  <no-ssr>
                    <date-picker disabled placeholder="Ngày kết thúc khuyến mãi" v-model="endDate" :config="configDate"></date-picker>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input disabled type="checkbox" v-model="campaign.isActive"> Kích hoạt
                    </label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết Khuyến mãi</h3>
                <div>
                  <i style="font-size: 12px">Lưu ý:
                    Loại khuyến mãi: <br>
                    1. "Áp dụng cho cửa hàng" là số lượng mã khuyến mãi dùng chung cho tất cả các chi nhánh (vd: 1 cửa hàng, 3 chi nhánh, có 15 mã thì tổng số mã là 15) <br>
                    2. "Áp dụng cho tất cả chi nhánh" là số lượng mã khuyến mãi dành riêng cho từng chi nhánh (vd: 1 cửa hàng, 3 chi nhánh, có 15 mã thì tổng số mã là 3*15 = 45)
                  </i>
                </div>
                <!-- <div>
                  <button class="btn btn-primary btn-sm" @click="addComponent">Thêm sản phẩm khuyến mãi</button>
                </div> -->
              </div>
              <div class="box-body">
                <campaign-detail v-if="formData.campaignDetail.campaignDetail.id > -1"
                :campaignDetail="formData.campaignDetail"
                :campaignSlug="campaignSlug"
                :listProducts="listProducts"
                :listBranchs="listBranchs"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import shopApi from '@/assets/js/api/shop'
import branchApi from '@/assets/js/api/branch'
import productApi from '@/assets/js/api/product'
import campaignApi from '@/assets/js/api/campaign'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import CampaignDetail from '@/components/pages/campaign/campaignDetail'
import UploadPhoto from '@/components/ui-kits/upload-form'
import moment from 'moment'

export default {
  layout: 'master',
  components: {
    InputGroup,
    UploadPhoto,
    CampaignDetail
  },
  data () {
    return {
      campaignSlug: '',
      listShops: [],
      listBranchs: [],
      listProducts: [],
      campaign: {
        name: '',
        codePrefix: '',
        codeLength: '',
        startDateTime: '',
        endDateTime: '',
        isActive: false
      },
      formData: {
        campaignDetail: {
          campaignDetail:{
            tempId: this.tempId,
            slug: '',
            order: 3,
            isCopyRight: false,
            discountType: 1,
            discountValue: 0,
            campaignType: 1,
            numberGetCodeLimit: 0,
            campaignId: -1,
            productId: -1,
            shopId: this.shopId,
          },
          listBranchs: [],
          isCloneForAllBranch: false
        }
      },
      shopId: -1,
      configDate: {
        format: 'DD/MM/YYYY HH:mm',
        useCurrent: true
      },
      tempId: 0,
      startDate: new Date(),
      endDate: new Date(),
    }
  },
  validations: {

  },
  methods: {
    clearForm () {
      this.$v.formData.$reset()
    },
    submitForm (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        campaignApi.updateCampaignDetail(this.$authToken,this.$route.params.id, this.formData.campaignDetail).then(rs => {
          this.showNotifyMessage({
            title: 'Thay đổi thành công',
            type: 'success'
          })
          this.$router.push({ path: `/campaign-detail/${this.campaign.id}` })
        })
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    getProductByShopId () {
      branchApi.getAllProviders(this.$authToken,{rowPerPage: 100, shopId: this.shopId, orderBy: 'name', order: 'asc'}).then(rs => {
        this.listBranchs = rs
        this.formData.listCampaignDetails = []
      })
      productApi.getAllProducts(this.$authToken,{rowPerPage: 100, shopId: this.shopId, orderBy: 'name', order: 'asc'}).then(rs => {
        this.listProducts = rs
      })
    },
  },
  beforeMount () {
    shopApi.getAllShops(this.$authToken, { rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listShops = rs.data
    })
    if(this.$route.params.id) {
      campaignApi.getCampaignDetailById(this.$authToken,  this.$route.params.id).then(rs => {
        this.formData.campaignDetail.campaignDetail = rs.campaignDetail
        this.campaign = rs.campaign
        this.shopId = rs.shop.id
        branchApi.getAllProviders(this.$authToken,{rowPerPage: 100, shopId: this.shopId, orderBy: 'name', order: 'asc'}).then(rs => {
          this.listBranchs = rs
        })
        productApi.getAllProducts(this.$authToken,{rowPerPage: 100, shopId: this.shopId, orderBy: 'name', order: 'asc'}).then(rs => {
          this.listProducts = rs
        })
        this.campaignSlug = genSlug(this.campaign.name)
        this.startDate =  moment(this.campaign.startDateTime).format('DD/MM/YYYY')
        this.endDate =  moment(this.campaign.endDateTime).format('DD/MM/YYYY')
        campaignApi.getCampaignDetailBranch(this.$authToken, rs.campaignDetail.slug).then(rs => {
          if(rs.length > 0) {
            rs.forEach((element, index) => {
              var obj = {
                tempId: index,
                campainDetailsId: this.formData.campaignDetail.campaignDetail.id,
                branchId: element.branch.id,
                endTime: element.endTime,
                startTime: element.startTime,
                timeStep: element.timeStep,
                numberBookingLimitOneStep: element.numberBookingLimitOneStep
              }
              this.formData.campaignDetail.listBranchs.push(obj)
            });
          }
        })
      })
    }
  }
}
</script>
