<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý khuyến mãi
      </h1>
      <ol class="breadcrumb">
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> Dashboard
          </nuxt-link>
          </li>
        <li class="active">Quản lý khuyến mãi</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Chi tiết khuyến mãi: </h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <router-link :to="`/campaign-detail/create/${$route.params.id}`" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm mới</router-link>
                <nuxt-link to="/campaign" class="btn btn-default btn-sm" style="margin-left:20px;">
                  <i class="fa fa-undo"></i> Quay lại
                </nuxt-link>
              </div>
              <!-- <search :searchParams="searchParams"  v-on:search="sumbitSearch" /> -->
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Tên khuyến mãi</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Cửa hàng</th>
                    <th>Sản phẩm</th>
                    <th>Thứ tự hiển thị</th>
                    <th class="text-center">#</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item,index) in listCampaignDetails.data" :key="item.campaignDetail.id">
                    <td>{{(listCampaignDetails.meta.page - 1)*listCampaignDetails.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.campaign.name}}</td>
                    <td>{{formatDate(item.campaign.startDateTime, 'DD/MM/YYYY hh:mm:ss')}}</td>
                    <td>{{formatDate(item.campaign.endDateTime, 'DD/MM/YYYY hh:mm:ss')}}</td>
                    <td>{{item.shop.name}}</td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.campaignDetail.order}}</td>
                    <td class="text-center">
                      <nuxt-link :to="`/campaign-detail/edit/${item.campaignDetail.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                      <a href="" v-on:click.prevent="deleteCampaignDetail(item.campaignDetail.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <paginate v-if="listCampaigns.meta !== undefined && listCampaigns.meta.totalPage > 1" :page-count="listCampaigns.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
              </paginate> -->
            </div>
            <div class="box-footer">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import campaignApi from '@/assets/js/api/campaign'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import TrActive from '@/components/pages/campaign/trActive'
import {formatDate} from '@/assets/js/commons/functions'

export default {
  layout: 'master',
  components: {
    Paginate,
    TrActive
  },
  data () {
    return {
      listCampaignDetails: [],
      searchParams: {
        campaignId: -1,
        productId: -1,
        campaignType: -1,
        isActive: -1,
        keyword: "",
        fromDate: "",
        toDate: "",
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'asc',
        keyword: ''
      }
    }
  },
  methods: {
    fetchData () {
      campaignApi.getAllCampaignDetails(this.$authToken, this.searchParams).then(rs => {
        this.listCampaignDetails = rs
      })
    },
    deleteCampaignDetail (id) {
      if(confirm("Bạn có chắc chắn muốn xóa?")){
        campaignApi.deleteCampaignDetails(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    formatDate (value, format){
      return formatDate(value, format)
    }
  },
  beforeMount () {
    if(this.$route.params.id){
      this.searchParams.campaignId = this.$route.params.id
      this.fetchData()
    } else {
      this.$router.push('/campaign')
    }
  }
}
</script>
