<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="@/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/category">
            <i class="fa fa-dashboard"></i> <span>Quản lý Danh mục</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/shop">
            <i class="fa fa-dashboard"></i> <span>Quản lý Shop</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/branch">
            <i class="fa fa-dashboard"></i> <span>Quản lý chi nhánh</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/product">
            <i class="fa fa-dashboard"></i> <span>Quản lý Sản phẩm</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/campaign">
            <i class="fa fa-dashboard"></i> <span>Quản lý Khuyến mãi</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/booking">
            <i class="fa fa-dashboard"></i> <span>Quản lý booking</span>
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/qrcode">
            <i class="fa fa-dashboard"></i> <span>Quản lý Link QrCode</span>
          </nuxt-link>
        </li>
        <li><nuxt-link to="/config/grouptext"><i class="fa fa-file-text"></i> <span>Quản lý Text</span></nuxt-link></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {

}
</script>
