<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">          
            <div class="col-md-5">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" v-model="searchParamsData.keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
            </div>
            <div class="col-md-2">
              <label>Địa điểm</label>
              <select class="form-control input-sm" v-model="searchParamsData.branchId">
                <option value="-1">Tất cả</option>
                <option v-for="item in listBranchs" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Sản phẩm</label>
              <select class="form-control input-sm" v-model="searchParamsData.productId">
                <option value="-1">Tất cả</option>
                <option v-for="item in listProducts" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-sm btn-block">Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import branchApi from '@/assets/js/api/branch'
import productApi from '@/assets/js/api/product'

export default {
  props: ['searchParams'],
  data () {
    return {
      listBranchs: [],
      listProducts: [],
      searchParamsData: this.searchParams
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.$emit('search', this.searchParamsData);
    },
  },
  beforeMount () {
    branchApi.getAllProviders(this.$authToken, {rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listBranchs = rs.data
    })
    productApi.getAllProducts(this.$authToken, {rowPerPage: 10000, orderBy: 'name', order: 'asc'}).then(rs => {
      this.listProducts = rs.data
    })
  }
}
</script>

<style>

</style>
