<template>
  <td width="150">
    <div class="btn-group" style="width: 100%;">
      <button type="button" :class="currentStatus.classCss" style="text-align:left  " class="btn dropdown-toggle input-sm btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentStatus.statusName}}
        <span class="caret pull-right"></span>
      </button>
      <ul class="dropdown-menu">
        <li v-for="item in listStatus" :key="item.value">
          <a style="cursor:pointer" @click="changeStatus(item.value)">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </td>
</template>

<script>
import bookingApi from '@/assets/js/api/booking'
export default {
  props: ['status','bookingId'],
  data () {
    return {
      listStatus: [
        {
          value: 1,
          name: 'Đã sử dụng'
        },
        {
          value: 0,
          name: 'Chưa sử dụng'
        },
        {
          value: 2,
          name: 'Hủy'
        },
        {
          value: 3,
          name: 'Đã xác nhận'
        }
      ],
      currentStatus: {
        classCss: '',
        statusName: ''
      }
    }
  },
  methods: {
    changeStatus(value){
      if(confirm('Bạn có muốn thay đổi trạng thái cho Booking này không?')){
        this.getStatusName(value)
        bookingApi.updateBookingStatus (this.$authToken, this.bookingId, value).then(rs => {
          this.showNotifyMessage({
            title: 'Cập nhật thành công',
            message: 'Trạng thái Booking đã được cập nhật',
            type: 'success'
          })
        })
      }
    },
    getStatusName (value){
      console.log(value)
      this.listStatus.find(e => {
        if (e.value === value){
          switch (value) {
            case 0:
              this.currentStatus.statusName = e.name
              this.currentStatus.classCss = 'btn-default'
              return
            case 1:
              this.currentStatus.statusName = e.name
              this.currentStatus.classCss = 'btn-success'
              return
            case 2:
              this.currentStatus.statusName = e.name
              this.currentStatus.classCss = 'btn-danger'
              return
            case 3:
              this.currentStatus.statusName = e.name
              this.currentStatus.classCss = 'btn-primary'
              return
            default:
              return
          }
        }
      })
      return status
    }
  },
  beforeMount(){
    this.getStatusName(this.status)
  }
}
</script>
