<template>
  <td v-html="branchName"></td>
</template>

<script>
import branchApi from '@/assets/js/api/branch'
export default {
  props: ['branchId'],
  data () {
    return {
      branchName: ''
    }
  },
  beforeMount () {
    if(this.branchId) {
      branchApi.getProviderById(this.$authToken, this.branchId).then(rs => {
        this.branchName =  `<span class="label label-default">${rs.name}</span>`
      })
    }
  }
}
</script>

<style>

</style>
