<template>
  <td v-html="productName"></td>
</template>

<script>
import productApi from '@/assets/js/api/product'
export default {
  props: ['productId'],
  data () {
    return {
      productName: ''
    }
  },
  beforeMount () {
    if(this.productId) {
      productApi.getProductById(this.$authToken, this.productId).then(rs => {
        this.productName =  `<span class="label label-default">${rs.product.name}</span>`
      })
    }
  }
}
</script>

<style>

</style>
