<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cài đặt QRCode
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/qrcode"><i class="fa fa-dashboard"></i> QRCode</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-5">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
              </div>
              <div class="box-body">
                <input-group
                :label="'Link QR Code (*)'"
                :error="$v.formData.link.$error"
                v-model="formData.link"
                @blur="$v.formData.link.$touch()"
                />
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-7">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách QRCode</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>QRCode</th>
                      <th>Link</th>
                      <th width="10%">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item) in qrcode.data" :key="item.id">
                        <!-- <td><nuxt-link :to="`/qrCode/detail/${item.id}`">{{item.title}}</nuxt-link></td> -->
                        <td>
                          <nuxt-link :to="`/qrcode/${item.id}`" target="_blank">
                            <no-ssr>
                                <qrcode :value="item.link" :options="{ size: 60 }"></qrcode>
                            </no-ssr>
                          </nuxt-link>
                        </td>
                        <td>{{item.link}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-xs" type="button" @click="bindEditForm(item.id)"><i class="fa fa-pencil"></i></button>	&nbsp;
                            <button class="btn btn-danger btn-xs" type="button" @click="deleteItem(item.id)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="qrcode.meta" :page-count="qrcode.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import qrcodeApi from '@/assets/js/api/qrcode'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import VueQrcode from '@xkeshi/vue-qrcode'
export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    qrcode: VueQrcode
  },
  data () {
    return {
      formData: {
          link: ''
      },
      qrcode: {},
      searchKeyWord: '',
      page: 1,
      dataChange: false
    }
  },
  validations: {
      formData: {
        link: {required}
      }
  },
  methods: {
     submit(e) {
       e.preventDefault();
       if(this.formData.id && +this.formData.id > 0) {
           qrcodeApi.updateQrCode(this.$authToken,this.formData.id,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   message: 'Cập nhật thông tin thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   message: err.massage,
                   type: 'error'
               })
           })
       } else {
         if(this.formData.link){
           qrcodeApi.createQrCode(this.$authToken,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   message: 'Lưu dữ liệu thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   message: err.massage,
                   type: 'error'
               })
           })
         }
         else{
           this.showNotifyMessage({
                  title: 'Thất bại',
                  message: 'Không được để trống Link',
                  type: 'error'
              })
         }
       }
     },
     clearForm() {
         this.dataChange = false
         setTimeout(function() { this.dataChange = true}.bind(this),1000)
         this.$v.formData.$reset()
     },
     callPage () {

     },
     loadData() {
         qrcodeApi.getQrCode(this.$authToken, this.searchKeyWord,this.page).then((rs)=> {
             this.qrcode = rs.data
         })
     },
     bindEditForm(id) {
        this.dataChange = false
        qrcodeApi.getQrCodeById(this.$authToken,id).then((rs)=> {
            this.formData = rs.data
            this.dataChange  = true
        })
     },
     deleteItem(id) {
         if(confirm('Bạn có chắc muốn xóa dữ liệu ?')) {
             qrcodeApi.deleteQrCode(this.$authToken,id).then((rs)=> {
                 this.showNotifyMessage({
                     title: 'Thành công',
                     message: 'Xóa dữ liệu thành công',
                     type:'success'
                 })
                 this.loadData()
             })
         }
     }
  },
  computed: {

  },
  beforeMount () {
      this.loadData()
  }
}
</script>

<style lang="scss" scoped>

</style>
