<template>
  <div class="container">
    <h1 class="text-center" style="margin: 50px 0;">Mã Code khuyến mãi</h1>
    <div class="col-md-10 col-md-push-1 text-center">
      <no-ssr>
          <qrcode :value="link" :options="{ size: 200 }"></qrcode>
      </no-ssr>
    </div>
  </div>
</template>

<script>
import qrcodeApi from '@/assets/js/api/qrcode'
import VueQrcode from '@xkeshi/vue-qrcode'
export default {
  //layout: 'master',
  components: {
    qrcode: VueQrcode
  },
  data () {
    return {
      link: ''
    }
  },
  mounted() {
    if(this.$route.params.id) {
      qrcodeApi.getQrCodeById(this.$authToken,this.$route.params.id).then((rs)=> {
        this.link = rs.data.link
      })
    }
  },
}
</script>

<style>

</style>
